
.product-wrapper,
.product-img {
    overflow:hidden;
    position: relative;    
}

.product-img img {
    width: 100%;
   object-fit:cover;
}


.product-action {
   
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s
}

.product-wrapper {
    border-radius: 10px;
    
    
}

.product-img>span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 15px;
    z-index: 2;
    
}

.product-action-style {
    background-color: #ffffffad;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 5px;
    width: 100%;
    
}

.product-action-style>button {    
    padding: 0 10px;
    position: relative
}

.product-action-style>a.action-plus {
    font-size: 18px
}

.product-wrapper:hover .product-action {
    
    bottom: 20px;
    opacity: 1
}